
<p>Welcome</p>

<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>


 <form class="" action="/applicant/login" method="post">
<ul style="list-style: none;">
  <li>username: <input type="text" name="username" value="" placeholder="username"> </li>
  <li>password: <input type="password" name="password" value="" placeholder="password"> </li>
  <li> <input type="submit" name="submit" value="submit"> </li>
</ul>
</form>

<a href="/applicant/new">create an account</a>
