
<p>Welcome</p>

<nav class="navbar navbar-light bg-light">
 <form class="" action="/applicant/login" method="post">
    <label for="username:">username:</label>
    <input id="username:" type="text" name="username" value="" placeholder="username" class="form-control">

    <label for="password:">password:</label>
    <input id="password:" type="password" name="password" value="" placeholder="password" class="form-control">
      <br>
    <input type="submit" name="submit" value="submit" class="btn btn-outline-success">
      <br>
      <br>



<a href="/applicant/new">Create An Account</a>
