

<p>Create a New Profile</p>

<form class="" action="/applicant/new" method="post">
  <label for="username">* Username:</label>
  <input type="username" id="username" name=applicant[username] value="" placeholder="Username"/>
  <br>
  <br>
  <label for="password">* password:</label>
  <input type="password" id="password" name=applicant[password] value="" placeholder="enter a strong password"/>
  <br>
  <br>
  <label for="password">Password Confirmation</label>
  <input type="password" id="password" name=applicant[password_confirmation] value="" placeholder="Password Confirmation">
  <br>
  <br>
  <label for="name">* Full Name:</label>
  <input type="name" id="name" name=applicant[name] value="" placeholder="Full Name"/>
  <br>
  <br>
  <label for="address">Address:</label>
  <input type="street-address" id="address" name=applicant[address] value="" placeholdefdhotr="Address"/>
  <br>
  <br>
  <label for="objective">Objective:</label>
  <textarea id="objective" name=applicant[objective] value="" >
  </textarea>
  <br>
  <br>
  <label for="github">Github:</label>
  <input type="url" id="github" name=applicant[github] value="" placeholder="https://Github.com/username"/>
  <br>
  <br>
  <label for="blog">Blog:</label>
  <input type="url" id="blog" name=applicant[blog] value="" placeholder="http://someblog.com">
  <br>
  <br>
  <input type="submit" name="Submit" value="Create">
</form>


<p>* require fields</p>
