
<p>Welcome</p>

 <form class="" action="/company/login" method="post">
    <label for="username">Business Username: </label>
      <input type="text" name="username" id="username" value="" placeholder="username" class="form-control" autofocus>
    <br>
   <label for="password"> Password: </label>
    <input type="password" name="password" id="password" value="" placeholder="password" class="form-control">
    <br>
   <input type="submit" name="submit" value="submit" class="btn btn-outline-success">
</form>

<br>
<br>
<a href="/company/new">create an account</a>
<br>
<br>
