
<h4>Create a New Business Profile</h4>

<form class="" action="/company/new" method="post">
  <label for="">* Company Name:</label>
  <input type="text" name=company[name] value="" placeholder="Company Name">
  <br>
  <br>
  <label for="">* password:</label>
  <input type="password" name=company[password] value="" placeholder="enter a strong password">
  <br>
  <br>
  <label for="password">Password Confirmation</label>
  <input type="password" id="password" name=company[password_confirmation] value="" placeholder="Password Confirmation">
  <br>
  <br>
  <label for="">* Username:</label>
  <input type="text" name=company[username] value="" placeholder="Username">
  <br>
  <br>
  <label for="">Address:</label>
  <input type="street-address" name=company[address] value="" placeholder="Address">
  <br>
  <br>
  <label for="">Description:</label>
  <textarea name=company[description] value=""></textarea>
  <br>
  <br>
  <input type="submit" name="submit" value="Create">
</form>

<p>
  * required fields
</p>
