
<h4>Create a New Business Profile</h4>

<form class=" class="form-control"" action="/company/new" method="post">
  <label for="">* Company Name:</label>
  <input type="text" name=company[name] value="" placeholder="Company Name" class="form-control">
  <br>
  <br>
  <label for="">* password:</label>
  <input type="password" name=company[password] value="" placeholder="enter a strong password" class="form-control">
  <br>
  <br>
  <label for="password">Password Confirmation</label>
  <input type="password" id="password" name=company[password_confirmation] value="" placeholder="Password Confirmation" class="form-control">
  <br>
  <br>
  <label for="">* Username:</label>
  <input type="text" name=company[username] value="" placeholder="Username" class="form-control">
  <br>
  <br>
  <label for="">Address:</label>
  <input type="street-address" name=company[address] value="" placeholder="Address" class="form-control">
  <br>
  <br>
  <label for="">Description:</label>
  <textarea name=company[description] value="" class="form-control"></textarea>
  <br>
  <br>
  <input type="submit" name="submit" value="Create" class="btn btn-outline-success">
</form>

<br>
<br>
<p>
  * required fields
</p>
