
<ul style="list-style: none;">
  <li><h3>Name:</h3></li>
    <li> <h4> <%= @company.name %> </h4> </li>
  <li><h3>Address:</h3></li>
    <li><h4> <%= @company.address %> </h4> </li>
  <li><h3>Description:</h3></li>
    <li> <h4> <%= @company.description %> </h4> </li>
</ul>

  <ul style="list-style: none;">

  </ul>
<br>
<br>
  <p>
    <a href="/company/postings">Job Postings</a>
  </p>
  <p>
    <a href="/company/edit">Edit The Company' Profile</a>
  </p>
  <p>
    <a href="/company/delete">Delete Account</a>
  </p>
<!-- edit and delete links must be display if only the correct account owner is logged in -->
