
<p>Welcome</p>

<ul>
  <li>username: <input type="text" name="usename" value="" placeholder="username"> </li>
  <li>password: <input type="password" name="password" value="" placeholder="password"> </li>
  <li> <input type="submit" name="submit" value="submit"> </li>
</ul>

<a href="#">create an account</a>
