<!DOCTYPE html>
<html>
  <head>
    <title>JobSeeker</title>
  </head>

  <body>

    <%= yield %>
<br>
<br>
    <footer>
      <a href="/">Main Menu</a> |
      <a href="/">About</a> |
      <a href="/">Contact</a> |
      <a href="/">Sponsors</a>

    </footer>
  </body>
</html>
